.inputTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer input[type=range]{
    width: 400px;
}
.valuesContainer h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}
.valuesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}